.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 
        Edit 
        = @collection.name

    .row.index
      = form_for @collection do |f|
        .column-container
          %br/
          .row
            = f.label :name
            = f.text_field :name
          .row
            = f.label :designer_id
            = f.select :designer_id, Designer.all.collect { |d| [ d.name, d.id ] }, prompt: 'Select Designer'
          .row
            = f.submit "submit"
  
  = render "layouts/rightbar"
