.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        Collections
      %p
        = link_to '+ add collection', new_collection_path

    .row.index
      - @collections.each do |collection|
        .thumbnail
          %h4
            = link_to "#{collection.name}", collection_path(collection)
            by
          %p
            = link_to "#{collection.designer.name}", designer_path(collection.designer)
            - if collection.designer.company_id
              %p
                for 
                = link_to "#{collection.designer.company.name}", company_path(collection.designer.company.id)
          %p.small
            = link_to 'edit collection', edit_collection_path(collection)
    
          %p.small
            = link_to 'remove collection', collection_path(collection), method: :delete

  = render "layouts/rightbar"
  