.container
  = render "layouts/sidebar"

  .derp.column-container
    %h1
      Collections
    %p
      = link_to '+ add collection', new_collection_path

  .index
    - @collections.each do |collection|
      .thumbnail
        %h4
          = link_to "#{collection.name}", collection_path(collection)
          by
          = link_to "#{collection.get_designer(collection).name}", designer_path("#{collection.get_designer(collection)}")
        %p  
          = link_to "view products in this collection", collection_path(collection)


        %p
          = link_to 'remove collection', collection_path(collection), method: :delete
