.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 Add Collections

    .row.index
      = form_for @collection do |f|
        .column-container
          %p all fields are required
          %br/
          .row
            = f.label :name
            = f.text_field :name, required: true
          .row
            = f.label :designer_id
            = f.select :designer_id, Designer.all.collect { |d| [ d.name, d.id ] }, {:include_blank => true, :required => true}
          .row
            = f.submit "submit"

  = render "layouts/rightbar"
