%h1 Add Collections

= form_for @collection do |f|
  %p
    = f.label :name
    = f.text_field :name
  %p
    = f.label :designer_id
    = f.select :designer_id, Designer.all.collect { |d| [ d.name, d.id ] }, prompt: 'Select Designer'
  %p
    = f.submit "submit"
