.container
  = render "layouts/sidebar"

  .column-container
    %h1
      = @collection.name
    %h4
      by
      = Designer.find(@collection.designer_id).name
  
  .index
    - @collection.products.each do |product|
      .thumbnail
        %h4
          = product.name
        %p
          from the 
          = product.collection.name
          collection 
        %p
          by
          = product.designer
        %p
          category:
          = product.category
        %p
          $
          = product.price
          per yard
        %p
        - if product.on_sale == true
          = "this item is on sale!"
        %p
          = link_to 'edit', edit_product_path(product)
        %p
          = link_to 'delete', product_path(product), method: :delete
