.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 
        Designers
      %p
        = link_to '+ add designer', new_designer_path

    .row.index
      - @designers.each do |designer|
        .thumbnail
          %h4
            = link_to "#{designer.name}", designer_path(designer)
          
          %p.small
            = link_to 'remove designer', designer_path(designer), method: :delete
          %p.small
            = link_to 'edit designer', edit_designer_path(designer)

  = render "layouts/rightbar"
