.container.designers-new
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 
        Add Designer

    .row.index
      = form_for @designer do |f|
        .column-container
          %br/
          .row
            = f.label :name
            = f.text_field :name, placeholder: 'Anna Maria Horner'

          .row
            = f.label :bio
            = f.text_field :bio, placeholder: 'AMH bio'

          .row
            = f.label :company_id
            = f.select :company_id, Company.all.collect { |c| [ c.name, c.id ]}, prompt: 'Select Company'
          .row
            = f.submit "submit"

  = render "layouts/rightbar"
