.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        = @designer.name
      %p
        = @designer.company.name

    - if @designer.collections.any?
      .row.index
        - @designer.collections.each do |collection|
          .thumbnail
            %h4
              = link_to "#{collection.name}", collection_path(collection)
            %p
              = link_to 'edit', edit_designer_path(@designer)
    - else
      %p It looks like thic designer doesn't have any current collections.

  = render "layouts/rightbar"
  