.container
  = render "layouts/sidebar"

  .column-container
    %h1
      = @designer.name
    %p
      = link_to 'edit', edit_designer_path(@designer)

  .container
    %p 
      = @designer.bio
    %p
      = @designer.company.name
    %p
      - @designer.collections.each do |collection|
        %p.thumbnail
          = link_to "#{collection.name}", collection_path(collection)
