.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 
        Edit
        = @company.name

    .row.index
      = form_for @company do |f|
        .row
          = f.label :name
          = f.text_field :name, placeholder: 'Free Spirit'
        .row
          = f.submit "submit"

  = render "layouts/rightbar"
  