.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 
        Companies
      %p
        = link_to '+ add company', new_company_path

    .row.index
      - @companies.each do |company|
        .thumbnail
          %h4
            = link_to "#{company.name}", company_path(company)
          %p.small
            = link_to 'remove company', company_path(company), method: :delete
          %p.small
            = link_to 'edit company', edit_company_path(company)

  = render "layouts/rightbar"

