.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1 Add Company

    .row.index
      = form_for @company do |f|
        .column-container
          %p all fields are required
          %br/
          .row
            = f.label :name
            = f.text_field :name, placeholder: 'Free Spirit', required: true

            = f.submit "submit"
            
  = render "layouts/rightbar"
