.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        Edit
        = @product.name

    .row.index
      = form_for @product do |f|
        .column-container
          %br/
          .row
            = f.label :name
            = f.text_field :name
          .row
            = f.label :designer_name
            = f.select :designer_name, Designer.all.collect { |d| [ d.name, d.name ] }, prompt: 'Select Designer'
          .row
            = f.label :collection_id
            = f.select :collection_id, Collection.all.collect { |c| [ c.name, c.id ] }, prompt: 'Select Collection'
          .row
            = f.label :color
            = f.text_field :color
          .row
            = f.label :category
            = f.select :category, options_for_select(['precuts', 'bolt fabric', 'notions', 'patterns', 'kits', 'other'])
          .row
            = f.label :status
            = f.select :status, options_for_select(['coming soon', 'new', 'on sale', 'out of print'])
          .row
            = f.label :price
            = f.number_field :price
            per yard
          .row
            Is this item on sale?
          .row
            = f.label :on_sale, 'Yes'
            = f.radio_button :on_sale, true, value: true
          .row
            = f.label :on_sale, 'No'
            = f.radio_button :on_sale, false, checked: true, value: false
          .row
            = f.label :keywords
            = f.text_field :keywords
          .row
            = f.submit "submit"

  = render "layouts/rightbar"
