.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        New Arrivals
    
    - if @new_arrivals
      .row.index
        - @new_arrivals.each do |product|
          .thumbnail
            %h4
              = product.name
            %p
              from
              = product.collection.name
            %p
              by
              = product.designer.name
            %p
              = product.category
            %p
              $
              = product.price
              per yard
            %p
            - if product.on_sale == true
              = "this item is on sale!"
            %p.small
              = link_to 'edit', edit_product_path(product)
            %p.small
              = link_to 'delete', product_path(product), method: :delete
    - else
      %p 
        There doesn't seem to be anything new right now.  Check back soon!

  = render "layouts/rightbar"
