.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        Precuts

    .row.index
      - @precuts.each do |product|
        .thumbnail
          %h4
            = link_to "#{product.name}", product_path(product)
          %p
            from the 
            = link_to "#{product.collection.name}", collection_path(product.collection)
            collection 
          %p
            by
            = link_to "#{product.designer.name}", designer_path(product.designer)
            = product.designer_name
          %p
            = product.category
          %p
            $
            = product.price
            per yard
          %p
          - if product.on_sale == true
            = "this item is on sale!"
          - else
            =  "not on sale"
          %p.small
            = link_to 'edit', edit_product_path(product)
          %p.small
            = link_to 'delete', product_path(product), method: :delete

  = render "layouts/rightbar"
