.container
  = render "layouts/sidebar"

  .column-container
    .row
      %h1
        = @product.name
      %h3

    .row.index
      .thumbnail
        %p
          = image_tag @product.image.url(:thumb) 
        %p 
          = @product.name
          from the
        - if @product.collection_id  
          %p
            = @product.collection.name
            collection by
        - else
          %p.small.green this product does not belong to a collection

        %p
          = @product.designer.name
        %p
          = link_to 'edit', edit_product_path(@product)

  = render "layouts/rightbar"

