.column-container.sidebar
  %h6.underline
    SHOP OUR FABRICS
  %p
    = link_to 'new!', products_new_arrivals_path
  %p
    = link_to 'coming soon', products_coming_soon_path
  %p
    = link_to 'companies', companies_path
  %p
    = link_to 'designers', designers_path
  %p
    = link_to 'collections', collections_path
  %p
    = link_to 'precuts', precuts_path
  %p
    = link_to 'sale', products_sale_path
    