!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Suppose
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    / google fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Bitter:400,700|Playfair+Display:400,900,700|Cabin:400,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body
    %header.container
      %ul
        %li
          %a{:href => "https://www.instagram.com/suppose_quilts/"}
            facebook
        %li
          %a{:href => "https://www.instagram.com/suppose_quilts/"}
            instagram
        %li
          %a{:href => "https://www.instagram.com/suppose_quilts/"}
            blog
        %li 
          contact us
      %h3 
        = link_to 'SUPPOSE', "/"
      .navigation
        %ul
          %li
            = link_to 'products', products_path
          %li
            = link_to 'collections', collections_path
          %li 
            = link_to 'designers', designers_path
          %li 
            etsy
    %br/
    %br/
    
    / = render partial: "sidebar"
    .container
      = yield
