!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Suppose
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    / google fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Bitter:400,700|Playfair+Display:400,900,700|Cabin:400,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body.site

    %header.container.header.teal
      .row
        %ul
          %li.nav-item 
            = link_to 'etsy', "https://www.etsy.com/shop/suppose", target: "_blank"
          %li.nav-item
            %a{:href => "http://supposecreatedelight.com/wordpress/", target: "_blank"}
              blog
          %li.nav-item
            %a{:href => "https://www.facebook.com/SupposeCreateDelight/", target: "_blank"}
              facebook
          %li.nav-item
            %a{:href => "https://www.instagram.com/suppose_quilts/", target: "_blank"}
              instagram
        %h1
          = link_to 'SUPPOSE', home_index_path 
        %ul.right
          %li.nav-item
            = link_to 'products', products_path
          %li.nav-item
            = link_to 'designers', designers_path
          %li.nav-item
            = link_to 'companies', companies_path
          %li.nav-item
            = link_to 'collections', collections_path
    %br/
    %br/
    
    / = render partial: "sidebar"
    .site-content
      = yield

    %footer.teal
      .container
        %p
          &copy; Suppose Quilts Inc.
        %form{:action => ""}
          %label{:for => "email"}
            sign up for our newsletter!
          %input{:type => "email"}/
          %input.newsletter-submit{:type => "submit", :value => "sign me up!"}/
