!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Suppose
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    / google fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Bitter:400,700|Playfair+Display:400,900,700|Cabin:400,500,600,700", :rel => "stylesheet", :type => "text/css"}/

  %body

    %header.container.header
      %ul
        %li.nav-item
          %a{:href => "http://supposecreatedelight.com/wordpress/", target: "_blank"}
            blog
        %li.nav-item
          contact
        %li.nav-item
          %a{:href => "https://www.facebook.com/SupposeCreateDelight/", target: "_blank"}
            facebook
        %li.nav-item
          %a{:href => "https://www.instagram.com/suppose_quilts/", target: "_blank"}
            instagram
      %h3 
        = link_to 'SUPPOSE', home_index_path 
      .navigation
        %ul
          %li.nav-item
            = link_to 'collections', collections_path
          %li.nav-item
            = link_to 'designers', designers_path
          %li.nav-item
            = link_to 'products', products_path
          %li.nav-item 
            = link_to 'etsy', "https://www.etsy.com/shop/suppose", target: "_blank"
    %br/
    %br/
    
    / = render partial: "sidebar"
    
    = yield

  
